<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jespers Blog</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-svh flex flex-col bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-100">
  {{template "partials/header" .}}

  <main class="max-w-7xl mx-auto grow w-full px-6">
    {{embed}}
  </main>

  {{template "partials/footer" .}}
</body>

</html>
